.card {
  width: auto;
  margin: 0;
  min-height: 400px;
  max-height: 400px;
  padding: 20px;

  .card-img__wrapper {
    height: 300px;
    width: auto;
    text-align: center;

    &:before {      
        content: ' ';
        display: inline-block;
        vertical-align: middle; 
        height: 100%;
    }

    .card-img__inner {
      display: inline-block;
      vertical-align: middle;

      .card-img {
        max-height: 250px;
      }
    }
  }

  .card-name__wrapper {
    bottom: 20px;
    width: 100%;
    display: block;
    text-align: center;
  }
}
