.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,300px));
  column-gap: 25px;  
  justify-content: center;
  -webkit-justify-content: center;

  a {
    text-decoration: none;
    color: #292929;
  }
}

@media (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}